

<h1> Create container</h1>

<form method="post">
    <label>Container name: </label>
    <input type="text" name="containername" />
    <button type="submit" class="btn btn-success">Create</button>
</form>
