
@{
    ViewData["Title"] = "UploadFile";
}

<h1>UploadFile</h1>

<form method="post" enctype="multipart/form-data">
    <div>
        <label>Eleja un fichero text</label>
        <input type="file" name="file" />
    </div>
    <button type="submit">Subir</button>
</form>